{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Categories Chatons BDD</h1>


        <a href="{{ path("categories") }}"
           class="btn btn-primary">
            Accéder au Catégories
        </a>


{% endblock %}
